body{
    padding: 0;
    margin:0;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
}

.menu-btn div {
 position: absolute;
 left: 100%;
 top: 64%;
 padding-right: 8px;
 margin-top: -0.50em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}

#menu-btn {
 border: 3px solid #b53f3f;
 background: #b53f3f;
}
 
.menu-btn span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: rgb(255,255,255);
 z-index: 99;
}
 
.responsive-menu{
 display: none;
}
 
.expand {
 display: block !important; 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #b53f3f;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div#titleName {
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    color: #ffffff;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    text-shadow: 0 0 0.1em #000000;
    text-transform: uppercase;
}

#titleSurname{
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    color: #ffffff;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    text-shadow: 0 0 0.1em #000000;
    text-transform: uppercase;
}
.blink_me {
    /* display: none; */
    text-align: center;
    font-size: 2rem;
    /* padding-left: 57rem; */
    text-transform: uppercase;
    color: red;
    border-style: solid;
    /* margin-left: 46rem; */
    /* margin-top: 0rem; */
    /* padding: 1rem; */
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.53);
}

.middle{
    display: none;
}
.how {
    background-image: url(../image/bk2.jpg);
    height: 38rem;
    background-size: cover;
}
.title {
    font-size: 2rem;
    text-align: center;
    background: black;
    color: #b53f3f;
    text-shadow: 1px white;
    box-shadow: 10px 10px 5px #888888;
    margin: 1rem;
}
.bio {
    background-color: white;
    border-left: 5px solid black;
    box-shadow: 10px 10px 5px #888888;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.sports{
    display:none;
}
.sports

.sampleWork li {
    border-style: solid;
    box-shadow: 10px 10px 5px #888888;
}
.sampleWork{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    background-color: #f1f1f1;
}

.headline {
    font-size: 18px;
    color: #456;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
}


@media (min-width: 600px){
    .menu-btn{
        display:none;
    }
    .responsive-menu{
        display: block !important;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    li {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .sampleWork {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    /* text-align: center; */
    background-color: #f1f1f1;
    /* padding-left: 0rem; */
    }

    .sampleWork li iframe {
    display: block;
    }

    .sampleWork li {
        float: none;
    }
    .sampleWork li p a {
        background-color: #555;
    }
 
    .sports .sampleWork li {
        border-style: solid;
        box-shadow: 10px 10px 5px #888888;
        width: 27rem;
        height: 19rem;
        padding: 3rem;
        margin: 1rem;
        /* text-align: center; */
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
    .middle {
    background: url(../image/bk2.jpg);
    /* background-size: cover; */
    background-attachment: fixed;
    /* height: 55rem; */
    padding: 1rem;
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 700px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

    div#titleName {
    font-size: 8rem;
}
    div#titleSurname {
    font-size: 4rem;
}


    .how {
    /* background: rgba(255, 255, 255, 0.14); */
    /* border-radius: 3px; */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* top: 10px; */
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
    padding: 2px 10px;
    background-image: none;
    height: none
    background-size: none;
    }

    .blink_me {
    text-align: center;
    font-size: 4rem;
    /* padding-left: 57rem; */
    /* text-transform: uppercase; */
    color: red;
    border-style: solid;
    /* margin-left: 46rem; */
    /* margin-top: 0rem; */
    /* padding: 0rem; */
    /* width: 23rem; */
    border-width: 8px;
    /* width: 24%; */
    /* margin-left: 37%; */
    /* margin-left: 47rem; */
    }
    .title {
    padding-top: 52rem;
    }
    iframe {
    display:none;
    }
}

@media (min-width: 1500px){
    ul {
    padding-left: 39rem;
    }
    .blink_me{
    width: 24%;
    margin-left: 37%;
    background-color: rgba(255, 255, 255, 0);
    }
}

